server {
    listen ${PORT};
    server_name localhost;
    root /usr/share/nginx/html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~* \.(?:ico|css|js|gif|jpe?g|png|woff2?|eot|ttf|svg|webp)$ {
        root /usr/share/nginx/html;
        access_log off;
        expires max;
    }

    error_page 404 /index.html;
}

